html, body, .stage, .ring, .img
  width: 100%
  height: 100%
  transform-style: preserve-3d
  user-select: none
.img
    overflow: hidden
html, body
  overflow: hidden
  background: white

.stage
  
  div
    position: absolute

.container
  perspective: 4000px
  width: 300px
  height: 400px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.background
  // pointer-events: none
  width: 100%
  height: 100%
  background: url(../img/carousel/uber1.png) center center/cover no-repeat


.overlay
  width: 100%
  height: 100vh
  color: black
  
  display: none

.frame
  height: 100vh
  width: 100%
  iframe
    width: 100%
    height: 100%
.close
  position: absolute
  top: 5%
  right: 5%
  width: 60px
  height: 80px
  background-color: turquoise
.reveal
  width: 40px
  height: 50px
  background-color: red

.veal
  width: 100%
  height: 100%
  background-color: red

.display-none
  display: none

.sorry_mate
  font-size: 56px
  color: white
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%,-50%,0)

.back
  display: none

.back__link
  position: absolute
  top: 10%
  left: 50%
  transform: translateX(-50%)
  text-decoration: none
  color: #000
  font-size: 24px
  &:hover
    color: blue
      

.please
  position: relative
  display: none
  &_image
    position: absolute
    left: 10%
    top: 275px
    width: 750px
    height: 800px
    display: block
    z-index: 1000
  &_bubble
    position: absolute
    left: 40%
    top: 150px
    width: 800px
    height: 500px
    display: block
    z-index: 1000
  p
    font-size: 24px
    position: absolute
    left: 48%
    top: 270px
  &_phrase1, &_phrase2, &_phrase3
    display: none
  .contacts
    display: none
    position: absolute
    z-index: 1000
    left: 48%
    top: 450px
    width: 300px
    padding: 25px
    border-radius: 5px
    background-color: #111
    color: rgb(214, 222, 243)
